<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIFA World Cup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDlJxbn3xmDZxX3Seek-wwSalU6hXQKsqQ&sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


</head>
<body>
<div class="section-header">
    <div class="section-header-wrap row">
        <div class="col-ml-4">
            <img class="section-header-img" src="http://img.fifa.com/images/tournaments/17/logo/2018_workaround.png">
        </div>
        <div class="col-md-8">
            <h1 class="section-header-title"> FIFA World Cup Fan Guide <p style="font-size: 22px">1930 - 2018</p></h1>
            <br>
            <!--
            <ul class="row">
                <li class="col-ml-5" style="list-style:none;"><a title="Country" href="index.html"><span class="section-nav">Country</span></a></li>
                <li class="col-ml-5" style="list-style:none;"><a title="Statistics" href="statistics.html"><span class="section-nav">Statistics</span></a></li>
            </ul>
            -->
        </div>
</div>
<div class="ribbon">
    <a href="https://github.com/UNSW-Data-Rover/comp9321" target="_blank">View Source on GitHub</a>
</div>


<div id="index">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FIFA Fan Guide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../client/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../client/statistics.html">Statistics</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search a country" aria-label="Search" v-model="country">
      <button class="btn btn-outline-success my-2 my-sm-0"  @click.prevent="mapping">Search</button>
    </form>
  </div>
</nav>





<div class="section-container row">
        <div class="col-md-8 section-table">
            <table  class="table table-hover" id="index">
                <thead>
                <tr>
                    <th scope="col"> Year</th>
                    <th scope="col">Country</th>
                    <th scope="col">Winner</th>
                    <th scope="col">Runners-Up</th>
                    <th scope="col"> Third</th>
                    <th scope="col">Fourth</th>
                    <th scope="col">Goals Scored</th>
                    <th scope="col">Qualified Teams</th>

                </tr>
                </thead>
                <tbody>
                <tr v-for="r in rows">
                    <td>{{ r.Year }}</td>
                    <td>

                    <time-eater :title='r.Country' :year='r.Year' @unhappy="table($event)"></time-eater>

                    </td>
                    <td>{{ r.Champion }}</td>
                    <td>{{ r.RunnersUp }}</td>
                    <td>{{ r.Third }}</td>
                    <td>{{ r.Fourth }}</td>
                    <td>{{ r.TotalGoals }}</td>
                    <td>{{ r.QualifiedTeams }}</td>
                </tr>
                </tbody>
            </table>

            <div class="section-chart">
                <canvas id="myChart"></canvas>
            </div>
        </div>


        <div class="col-md-4 section-country">
            <br>
            <h5>Hosting Country {{year}}</h5><hr>
            <img class="country-flag"
                 :src="img_code">
            <img class="country-flag" id="jpflag" src="svg/JP.svg" style="float:right;display: none">
            <br/>
            <table class="table">
                <thead>
                <th>{{c.Country}}</th>
                <th></th>
                </thead>
                <tbody>
                <tr>
                    <td>Region</td>
                    <td>{{ c.Region }}</td>
                </tr>
                <tr>
                    <td>Capital City</td>
                    <td>{{c["Capital city"]}}</td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>{{c.Currency}}</td>
                </tr>
                <tr>
                    <td>Population (000, 2017)</td>
                    <td>{{c["Population (proj, 000)"]}}</td>
                </tr>
                <tr>
                    <td>Pop. density (per km2, 2017)</td>
                    <td>{{c["Pop density (per sq km)"]}}</td>
                </tr>
                <tr>
                    <td>Area (sq km)</td>
                    <td>{{c["Surface area (sq km)"]}}</td>
                </tr>
           

                </tbody>
            </table>

           

            <div id="googleMap" style="width:460px;height:400px;"></div>
        </div>



</div>
</div>
</div>
</body>
<script src="js/main.js"></script>
</html>